
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
        {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}" type="text/css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbar1">
    	<a class="navbar-brand" href="">Главная</a>
    </div>
</nav>
<body>
    <form method="post" action="add_book" align="center">
      {% csrf_token %}
      <a>добавление книги</a>
      <input type="text" class="form-control" name="id" placeholder="id">
      <input type="text" class="form-control" name="name" placeholder="название">
      <input type="text" class="form-control" name="author" placeholder="автор">
      <input type="date" class="form-control" name="date0" placeholder="дата поступления в фонд">
      <input type="date" class="form-control" name="date1" placeholder="дата выхода из фонда">
      <input type="text" class="form-control" name="reason" placeholder="причина выхода">
      <button type="submit" class="btn btn-dark" >Добавить</button>
  </form>
</body>
</html>
