<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lib fond</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'table.css' %}" type="text/css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <class="collapse navbar-collapse" id="navbar1">
        <form id="f" method="post" action="admin">
                {% csrf_token %}
                <input type="text" name="login" class="form-control-sm" placeholder="Введите логин">
                <input type="password" name="password" class="form-control-sm" placeholder="Введите пароль">
                <!--<input type="submit" value="Вход" class="btn-dark" style="width: 80px;">-->
                <button type="submit" class="btn btn-primary" style="width:80px;">Вход</button>
        </form>
</nav>
<body>
<div>
    <table class="btn btn-primary" align="center">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название книги</th>
            <th scope="col">Автор</th>
            <th scope="col">Дата поступления в фонд</th>
            <th scope="col">Дата выхода из фонда</th>
            <th scope="col">Причина выхода</th>
        </tr>
        </thead>
        <tbody>
        {%for i in syst %}
            <tr>
                <th scope="col">{{ i.id }}</th>
                <th scope="col">{{ i.name }}</th>
                <th scope="col">{{ i.author }}</th>
                <th scope="col">{{ i.date0 }}</th>
                <th scope="col">{{ i.date1 }}</th>
                <th scope="col">{{ i.reason }}</th>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>

